body{
    margin: 30px , 233px;
}
#allInOne , #pass{
    margin-left : 300px;
    margin-top: 15px;
}
 label{
    margin-left: 300px;
    margin-top: 15px;
}
button{
    margin-top: 15px;
    margin-left: 410px;
}
#pass{
    margin-bottom: 15px;
}